<div class="row">
  <div class="size col-4">
    <select
      class="form-select form-select-lg mb-3"
      aria-label="Large select example"
    >
      <option value="1" selected>small</option>
      <option value="2">large</option>
      <option value="3">x-large</option>
    </select>
  </div>
  <div class="color col-4">
    <select
      class="form-select form-select-lg mb-3"
      aria-label="Large select example"
    >
      <option value="1" selected>red</option>
      <option value="2">black</option>
      <option value="3">blue</option>
    </select>
  </div>
</div>
